<p>Not authenticated</p>

<p>
    <a href="javascript:void(0)" ng-click="login()">Login</a>
</p>

<hr>

    <b>scope:</b><br>
    <input type="checkbox" id="openid" checked="checked">openid<br>
    <input type="checkbox" id="idcard">idcard<br>
    <input type="checkbox" id="mid">mid<br>
    <input type="checkbox" id="banklink">banklink<br>
    <input type="checkbox" id="eidas">eidas<br>
    <input type="checkbox" id="smartid">smartid<br>
    <input type="checkbox" id="eidasonly">eidasonly<br>
    <input type="checkbox" id="email">email<br>
    <input type="checkbox" id="phone">phone<br>
</p>

<p>
    <b>acr_values:</b>
    <select id="acr_values">
        <option value="">default</option>
        <option value="low">low</option>
        <option value="substantial">substantial</option>
        <option value="high">high</option>
    </select>
</p>

<p>
    <b>ui_locales:</b>
    <select id="ui_locales">
        <option value="">no value</option>
        <option value="en">en</option>
        <option value="et" selected="selected">et</option>
        <option value="ru">ru</option>
        <option value="xyw123">invalid value</option>
    </select>
</p>

<p>
    <b>scope attribute 'eidas:country:' value:</b>
    <input type="text" id="eidas_country">
</p>